@using AppMvcFull.App.Utils
@model IEnumerable<AppMvcFull.App.ViewModels.ProductViewModel>

@if (Model != null)
{
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th> </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> <img src="~/Files/Product/@item.Image" alt="@item.Image" style="width:100px"> </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.Value.ToString("C")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.Name)
                    </td>
                    <td class="text-end">
                        <a customHide-name="@ConstantClaimName.ProductsClaimName" customHide-value="@ConstantClaimValue.Read" class="btn btn-info" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id"> <span class="fa fa-search"> </span> </a>
                        <a customHide-name="@ConstantClaimName.ProductsClaimName" customHide-value="@ConstantClaimValue.Update" class="btn btn-warning" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-alt"> </span></a>
                        <a customHide-name="@ConstantClaimName.ProductsClaimName" customHide-value="@ConstantClaimValue.Delete" class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"> </span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}